body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
    background-image: url("https://gal.cdn.renderosity.com/images/image_2832332/c65b0edfa2c2d668fd029f8a170d9bc7_original.jpg?v=1535223715")    
}


.landing{
    background-color: #00B2FF;
    width: 320px;
    height: 540px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 25px; 
    display: inline;
    padding: 70px 30px;

}



.landing button{
    border-radius: 15px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    grid-auto-flow: column;
}



label[for=field-user]{
    margin-top: -1px;
    display: inline-block;

}

label[for=field-admin]{
    margin-top: -1px;
    float: right;
    text-align: right;
}



input:focus {
    width: 100%;
    background-color: lightblue;
}

h1{
    text-align: center;
    padding: 0 0 20px;
    font-size: 28px;
    color: white;
}
